.recipes-container {
  align-items: center;
  background: #0fa36b;
  color: #c7e4cc;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;

  /* border: 2px solid red; para destacar o container, retirar depois */

  /* margin: 10px; para destacar, retirar depois */
}

.recipes-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  min-width: 90%;
  width: 95vw;

  /* border: 2px solid blue; para destacar, retirar depois */
}

.recipes-row label {
  margin: 10px 0;
  width: 100%;
}

.recipes-row input {
  background-color: #d6e7d6;
  border: none;
  border-radius: 5px;
  min-width: 90%;
  padding: 7px;
}

.recipes-button {
  background-color: #6ce34f;
  border: none;
  border-radius: 5px;
  color: #396340;
  margin: 20px 10px;
  padding: 7px;
  width: 90%;
}

.recipes-button[ disabled ] {
  background-color: #99b09d;
  color: #c7e4cc;
}
