* {
  background: #0fa36b;
  color: #c7e4cc;
}

.recipes-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

  /* border: 2px solid red; para destacar o container, retirar depois */

  /* margin: 10px; para destacar, retirar depois */
}

.recipes-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 90%;
  text-align: center;
  width: 95vw;

  /* border: 2px solid blue; para destacar, retirar depois */
}

.recipes-row label {
  margin: 10px 0;
  text-align: left;
  width: 100%;
}

.recipes-row input {
  background-color: #d6e7d6;
  border: none;
  border-radius: 5px;
  color: #051101;
  padding: 10px 10px 10px 12px;
  width: 100%;
}

.recipes-radio {
  font-size: 1.3rem;
  margin: 2px 8px;
}

.recipes-search-input {
  background-color: #d6e7d6;
  border: none;
  border-radius: 5px;
  color: #051101;
  font-size: 1.2rem;
  margin: 15px 0;
  padding: 8px 8px 8px 12px;
  width: 100%;
}

.recipes-button {
  background-color: #6ce34f;
  border: none;
  border-radius: 5px;
  color: #396340;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 20px 10px;
  padding: 7px;
  width: 95%;
}

.recipes-search-btn {
  background-color: #d6e7d6;
  border: none;
  border-radius: 5px;
  color: #a36c63;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 10px 5px;
  padding: 4px;
  width: 25%;
}

.recipes-button[ disabled ] {
  background-color: #99b09d;
  color: #c9f0cf;
}

.custom-card {
  align-items: center;
  background-color: #f523146e;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  margin: 3px;
  padding: 10px;
}

.custom-card h4 {
  background: none;
}

.custom-card img {
  align-self: center;
  border: none;
  margin-top: 7px;
}

/* Para telas com largura menor que 365px */

@media screen and ( max-width : 365px ) {

  * {
    font-size: 0.85rem;
  }
}
